
* {
    box-sizing: border-box;
}

  .Track {
    grid-area: track;
    display: flex;
    flex-direction: row;
    /* border: 2px solid #3b3b3b; */
    background-color: #2e2e2e;
  }
  .Info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 50px;
    width: 100%;
  }

  /* .img{
  } */
  .title h2{
    text-transform: uppercase;
    color: #e1e1e1;
    width:300px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*
  .artist{
    flex-basis: 20%;
  }
  */
  .album p{
    width:300px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  } 
  .play{
    /* flex-basis: 15%; */
    margin-top: 5px;
    text-align: center;
  }

  .img img{
    width: 64px;
  }
  .Track p {
    color: #e1e1e1;
  }
  
  .btn {
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  .message {
    padding: 15px 20px;
    background-color: #cd5c5c;
    cursor: pointer;
    box-shadow: 0 7px #8b0000;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  