.Playlist {
    text-align: center;
    padding-left: 20px;
}
.Playlist img{
    width: 250px;
    margin-top: 40px;
}
.Playlist h2, label{
    color: aliceblue;
}
.AppInfo{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    color: lightgrey;
}
